@import 'styles/variables.scss';

.bestseller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6.84rem;
    // padding-bottom: 12.5625rem;
    margin: 0 6.93125rem;

    button{
        padding:  20px 19px;
        span{
            margin-right: 20px;
        }
    }

    @media (max-width: $sm-breakpoint) {
        padding-top: 83px;
        margin: 0 25px;
        padding-bottom: 0;

        button{
            padding: 17px;
            font-size: 12px;
            display: flex;
            align-items: baseline;
            padding: 17px;
        }
    }
}

.bestseller__header{
    text-align: center;
    margin-bottom: 2.970625rem;
    @media (max-width: $md-breakpoint) {
        margin-bottom: 35px;
    }
    h2{
        font-size: 2rem;
        color: $darker-charcoal;
        @media (max-width: $md-breakpoint) {
            font-size: 22px;
            max-width: 229px;
        }
    }
}

.bestseller__addmore{
    margin-top: 3.5625rem;
    @media (max-width: $md-breakpoint) {
        margin-top: 45px;
    }
}

.bestseller_container{
    grid-gap: 2.3125rem 2.3125rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    @media (max-width: $lg-breakpoint) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: $md-breakpoint) {
        grid-template-columns: 1fr 1fr;
        gap: 35px 10px;
    }
}