@import 'styles/variables.scss';

.bestseller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6.84rem;
    // padding-bottom: 12.5625rem;
    margin: 0 6.93125rem;

    button{
        padding:  .8125rem /* 13px -> .8125rem */ .875rem /* 14px -> .875rem */;

        span{
            font-size: .75rem /* 12px -> .75rem */;
            font-family: "Cosmica-SemiBold";
            margin-right: .9375rem /* 15px -> .9375rem */;
            @media (max-width: $sm-breakpoint) {
                margin-right: 20px;
            }
        }

        .filled_arrow{
            height: .89rem /* 14.24px -> .89rem */;
            width: .89rem /* 14.24px -> .89rem */;
            margin-top: -0.25rem /* -4px -> -0.25rem */;
            @media (max-width: $sm-breakpoint) {
                position: relative;
                top: 2px;
            }
        }
    }

    @media (max-width: $sm-breakpoint) {
        padding-top: 5.1875rem /* 83px -> 5.1875rem */;
        margin: 0 1.5625rem /* 25px -> 1.5625rem */;
        padding-bottom: 0;

        button{
            display: flex;
            align-items: baseline;
            padding: .9375rem /* 15px -> .9375rem */ 1.25rem /* 20px -> 1.25rem */;
        }
    }
}

.bestseller__header{
    text-align: center;
    margin-bottom: 2.970625rem;
    @media (max-width: $sm-breakpoint) {
        margin-bottom: 2.1875rem /* 35px -> 2.1875rem */;
    }
    h2{
        font-size: 2rem;
        color: $darker-charcoal;
        @media (max-width: $sm-breakpoint) {
            font-size: 1.375rem /* 22px -> 1.375rem */;
            max-width: 14.3125rem /* 229px -> 14.3125rem */;
        }
    }
}

.bestseller__addmore{
    margin-top: 3.5625rem;
    @media (max-width: $sm-breakpoint) {
        margin-top: 2.8125rem /* 45px -> 2.8125rem */;
    }
}

.bestseller_container{
    grid-gap: 2.3125rem 2.3125rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    @media (max-width: $sm-breakpoint) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 35px .6875rem /* 11px -> .6875rem */;
    }
}

