@import "styles/variables.scss";

// define variables
$starting-gradient: #d8dccd;
$ending-gradient: #ebeee3;
$height: 722px;
$padding-x: 6.0625rem;
// define variables

.landing__cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.8125rem;
  padding-bottom: 5.625rem;
  padding-left: $padding-x;
  padding-right: $padding-x;
  background-size: contain;
  background-repeat: no-repeat;
  // background-position-y: -86px; //do this to accomodate the navbar
  background-color: $ionic-opacity-variant;
  // background-image: url('../../../../public/images/landingcream.png'), $ionic-opacity-variant;

  // @media (max-width: $xl-breakpoint) {
  //     background-image: url('../../../../public/images/plainbg.png'), $ionic-opacity-variant;
  // }

  @media (max-width: $md-breakpoint) {
    // padding-top: 11.9275rem;
    padding-top: 6.9275rem;
    padding-bottom: 6.8125rem;
  }

  @media (max-width: $sm-breakpoint) {
    padding-top: 4.25rem;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 5.16rem;
  }

  @media (max-width: $lg-breakpoint){
    .cover__image{
      display: none;

    }
  }

  @media (max-width: $sm-breakpoint){
    justify-content: center;
  }
}

.landing__content {
  h1,
  h4{
    font-weight: normal;
    @media (max-width: $sm-breakpoint) {
      text-align: center;
    }
  }
  h1 {
    margin-bottom: 1.9375rem;
    color: $darker-charcoal;
    line-height: 4.125rem;
    @media (max-width: $sm-breakpoint) {
      line-height: 48px;
      margin: auto;
      line-height: 40px;
      margin-bottom: 23px;
      font-weight: 400;
      font-size: 38px;
      max-width: 261px;
    }
  }
  h4 {
    margin-bottom: 3.375rem;
    max-width: 36.4rem;
    line-height: 2.25rem;
    @media (max-width: $sm-breakpoint) {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 30px;
      max-width: 304px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  h3 {
    color: $dark-green;
    margin-bottom: 1.23rem;
    line-height: 4.125rem;

    @media (max-width: $sm-breakpoint) {
      font-size: 20px;
      line-height: 66px;
      margin-bottom: 0;
    }
  }
}

.input__group {
  display: flex;
  flex-wrap: wrap;
  gap: 1.77rem;
  @media (max-width: $sm-breakpoint) {
    justify-content: center;
  }
  input {
    transition: 300ms;
    margin-right: 12px;
    width: 23.1875rem;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #999999;
    }

    &:focus {
      border: 1px solid #014c37;
      color: #014c37;
    }
  }

  button {
    transition: 300ms;
    span {
      font-weight: 500;
      margin-right: 2.8125rem;
    }
    &:hover {
      background-color: #9cc193;
    }
    @media (max-width: $sm-breakpoint) {
      width: 141px;
      height: 45px;
      justify-content: space-between;
      span{
        margin-right: 0;
      }
    }
  }
}
