@import "styles/variables.scss";

// define variables
$starting-gradient: #d8dccd;
$ending-gradient: #ebeee3;
$padding-x: 6.93125rem;
// define variables

.landing__cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7.5rem;
  padding-bottom: 6.5625rem;
  padding-left: $padding-x;
  padding-right: $padding-x;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $blue-green;
  position: relative;


  // @media (max-width: $md-breakpoint) {
  //   padding-top: 0;
  //   padding-bottom: 6.8125rem;
  // }

  @media (max-width: $sm-breakpoint) {
    padding-top: 0;
    padding-left: 1.25rem /* 20px -> 1.25rem */;
    padding-right: 1.25rem /* 20px -> 1.25rem */;
    padding-bottom:4.6875rem /* 75px -> 4.6875rem */;
  }

  @media (max-width: $sm-breakpoint){
    justify-content: center;
  }
}

.landing__content {

  h1,
  h4{
    font-weight: normal;
    @media (max-width: $sm-breakpoint) {
      text-align: left;
    }
  }
  h1 {
    font-size: 2.6875rem;
    line-height: 3.3125rem;
    margin-bottom: 1.8125rem;
    color: $darker-charcoal;
    @media (max-width: $sm-breakpoint) {
      line-height: 3rem /* 48px -> 3rem */;
      margin: auto;
      margin-bottom: 1.5rem /* 24px -> 1.5rem */;
      font-weight: 400;
      font-size: 2.375rem /* 38px -> 2.375rem */;
      max-width: 20.375rem /* 326px -> 20.375rem */;
      text-align: left;
    }
  }
  h4 {
    font-size: 1rem;
    margin-bottom: 3.375rem;
    max-width: 23.21125rem;
    line-height: 1.625rem;
    @media (max-width: $sm-breakpoint) {
      font-size: .875rem /* 14px -> .875rem */;
      line-height: 1.5625rem /* 25px -> 1.5625rem */;
      margin-bottom: 2.8125rem /* 45px -> 2.8125rem */;
      max-width: 19.625rem /* 314px -> 19.625rem */;
      margin-left: auto;
      margin-right: auto;
    }
  }
  h3 {
    color: $dark-green;
    margin-bottom: 1.23rem;
    line-height: 4.125rem;

    @media (max-width: $sm-breakpoint) {
      font-size: 1.25rem /* 20px -> 1.25rem */;
      line-height: 4.125rem /* 66px -> 4.125rem */;
      margin-bottom: 0;
    }
  }
  @media (max-width: $sm-breakpoint){
    margin-top: 16.6875rem /* 267px -> 16.6875rem */;
  }
}

.input__group {
  display: flex;
  flex-wrap: wrap;
  gap: 1.77rem;
  @media (max-width: $sm-breakpoint) {
    justify-content: flex-start;
  }
  input {
    transition: 300ms;
    margin-right: .75rem /* 12px -> .75rem */;
    width: 23.1875rem;
    border: .0625rem /* 1px -> .0625rem */ solid transparent;

    &:hover {
      border: .0625rem /* 1px -> .0625rem */ solid #999999;
    }

    &:focus {
      border: .0625rem /* 1px -> .0625rem */ solid #014c37;
      color: #014c37;
    }
  }

  button {
    transition: 300ms;
    padding: .9375rem /* 15px -> .9375rem */ .9375rem /* 15px -> .9375rem */ .75rem /* 12px -> .75rem */;
    box-sizing: border-box;
    letter-spacing: 0.05em;

    span {
      font-weight: 500;
      font-size: .75rem /* 12px -> .75rem */;
      margin-right: 1.25rem /* 20px -> 1.25rem */;
    }
    &:hover {
      background-color: #9cc193;
    }
    @media (max-width: $sm-breakpoint) {
      width: 8.8125rem /* 141px -> 8.8125rem */;
      height: 2.8125rem /* 45px -> 2.8125rem */;
      justify-content: space-between;
      span{
        margin-right: 0;
      }
    }
  }
}

.cover__image{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  @media (max-width: $sm-breakpoint){
    display: block;
    bottom: unset;
  }
  img{
    object-fit: cover;
  }
  section{
    display: flex;
    height: 100%;

    @media (max-width: $sm-breakpoint){
      height: 13.625rem /* 218px -> 13.625rem */;
      width: 100vw;
      background-color: black;
    }
    div{
      &:first-of-type{
        display: inline-block;
        margin-right: -0.0625rem /* -1px -> -0.0625rem */;
      }
      position: relative;
      width: 22.5269rem /* 360.43px -> 22.5269rem */;
      height: 100%;
      @media (max-width: $sm-breakpoint){
        width: 50vw;
      }
      & > span{
        height: 100% !important;
        img{
          object-fit: cover;
        }
      }
    }
  }
}