@import "styles/variables.scss";

// define variables
$starting-gradient: #d8dccd;
$ending-gradient: #ebeee3;
$height: 722px;
$padding-x: 6.93125rem;
// define variables

.landing__cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7.5rem;
  padding-bottom: 6.5625rem;
  padding-left: $padding-x;
  padding-right: $padding-x;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $blue-green;
  position: relative;


  @media (max-width: $md-breakpoint) {
    padding-top: 0;
    padding-bottom: 6.8125rem;
  }

  @media (max-width: $sm-breakpoint) {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:75px;
  }

  @media (max-width: $sm-breakpoint){
    // justify-content: center;
  }
}

.landing__content {

  h1,
  h4{
    font-weight: normal;
    @media (max-width: $sm-breakpoint) {
      text-align: left;
    }
  }
  h1 {
    font-size: 2.6875rem;
    line-height: 3.3125rem;
    margin-bottom: 1.8125rem;
    color: $darker-charcoal;
    @media (max-width: $sm-breakpoint) {
      line-height: 48px;
      margin: auto;
      margin-bottom: 24px;
      font-weight: 400;
      font-size: 38px;
      max-width: 326px;
      text-align: left;
    }
  }
  h4 {
    font-size: 1rem;
    margin-bottom: 3.375rem;
    max-width: 23.21125rem;
    line-height: 1.625rem;
    @media (max-width: $sm-breakpoint) {
      font-size: 14px;
      line-height: 25px;
      margin-bottom: 30px;
      max-width: 314px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  h3 {
    color: $dark-green;
    margin-bottom: 1.23rem;
    line-height: 4.125rem;

    @media (max-width: $sm-breakpoint) {
      font-size: 20px;
      line-height: 66px;
      margin-bottom: 0;
    }
  }
  @media (max-width: $lg-breakpoint){
    margin-top: 267px;
  }
}

.input__group {
  display: flex;
  flex-wrap: wrap;
  gap: 1.77rem;
  @media (max-width: $sm-breakpoint) {
    // justify-content: center;
  }
  input {
    transition: 300ms;
    margin-right: 12px;
    width: 23.1875rem;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #999999;
    }

    &:focus {
      border: 1px solid #014c37;
      color: #014c37;
    }
  }

  button {
    transition: 300ms;
    padding: 15px 15px 12px;
    box-sizing: border-box;
    letter-spacing: 0.05em;

    span {
      font-weight: 500;
      font-size: 12px;;
      margin-right: 20px;
    }
    &:hover {
      background-color: #9cc193;
    }
    @media (max-width: $sm-breakpoint) {
      width: 141px;
      height: 45px;
      justify-content: space-between;
      span{
        margin-right: 0;
      }
    }
  }
}

.cover__image{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  @media (max-width: $xl-breakpoint){
    display: none;
    left: 0;
  }
  @media (max-width: $lg-breakpoint){
    display: block;
    bottom: unset;
  }
  img{
    object-fit: cover;
  }
  section{
    display: flex;
    height: 100%;
    @media (max-width: $lg-breakpoint){
      height: 350px;
    }
    @media (max-width: $md-breakpoint){
      height: 218px;
    }
    div{
      &:first-of-type{
        display: inline-block;
        margin-right: -1px;
      }
      position: relative;
      width: 360.43px;// 24vw;
      height: 100%;
      @media (max-width: $lg-breakpoint){
        width: 50vw;
      }
      & > span{
        height: 100% !important;
        img{
          object-fit: cover;
        }
      }
    }
  }
}