@import "styles/variables.scss";

.star_number {
  margin-right: 6px;
  font-size: 18px;

  @media (max-width: $md-breakpoint) {
    font-size: 16px;
  }
}

.reviews_stars {
  display: flex;
}

.review_subheadings {
  font-size: 22px;
  margin-top: 28px;

  @media (max-width: $lg-breakpoint) {
    font-size: 16px;
  }
}

.name_ratings {
  display: flex;
  align-items: center;
}

.ratings_stars {
  margin: 0 20px;
  display: flex;
  align-items: center;

  @media (max-width: $lg-breakpoint) {
    margin: 0 14px;
  }
}

.reviews_name {
  font-size: 16px;
  color: $grey;

  @media (max-width: $md-breakpoint) {
    font-size: 12px;
  }
}

.review_texts {
  font-size: 16px;
  color: $dark-gray;
  margin-top: 30px;
  line-height: 28px;

  @media (max-width: $lg-breakpoint) {
    font-size: 13px;
  }
}

.review_hr {
  margin-top: 25px;
  margin-bottom: 52px;
  width: 649px;
  height: 1px;

  @media (max-width: $lg-breakpoint) {
    width: 500px;
    margin-left: 0;
  }
}

.purchase {
  display: flex;
  align-items: center;
}

.purchase_text {
  font-size: 12px;
  color: $grey;
  margin-left: 6px;
}

.productProducts_container {
  cursor: pointer;
  margin-top: 50px;

  .like {
    opacity: 0;
    position: absolute;
    top: 1.5625rem;
    right: 1.5625rem;
  }

  .add_to_cart {
    opacity: 0;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.125rem;
    background: $dark-green;
    justify-content: center;
    color: white;
    align-items: center;
    transition: $fast-transition;

    &:hover {
      background-color: $relish;
    }

    span {
      margin-left: 0.5rem;
    }
  }

  &:hover .add_to_cart,
  &:hover .like {
    opacity: 1;
    // display: flex;
  }
}

.product_image_wrapper {
  position: relative;
  background: #efefef;
  width: 19.625rem;
  height: 25.625rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $md-breakpoint) {
    width: 10.125rem;
    height: 12.875rem;
    padding: 20px;
  }
}

.shop_product_image_wrapper {
  position: relative;
  background: #efefef;
  width: 40.56rem;
  height: 25.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_content_wrapper {
  margin-top: 1.5625rem;

  h5 {
    color: $dark-green;
    margin-bottom: 0.75rem;
    &:hover {
      color: $relish;
      transition: $fast-transition;
    }
  }

  & > p {
    margin-bottom: 0.375rem;
    // margin-bottom: 6px;
    color: #707070;

    @media (max-width: $md-breakpoint) {
        display: none;
      }
  }
}

.product__meta {
  display: flex;

  p {
    &::first-letter {
      text-transform: capitalize;
    }
    color: #707070;
    &:not(:last-of-type) {
      &::after {
        height: 3px;
        width: 3px;
        border-radius: 50%;
        background: #c4c4c4;
        content: "";
        display: inline-block;
        position: relative;
        top: -25%;
        margin: 0 10px;
      }
    }
  }
}

.product__prices {
  margin-top: 21px;
  display: flex;
  align-items: flex-end;

  @media (max-width: $md-breakpoint) {
    margin-top: 5px;
  }

  p {
    margin-right: 10px;
    &::before {
      content: "₦ ";
    }
  }

  span {
    font-size: 0.75rem;
    text-decoration: line-through;
    color: #999999;
    &::before {
      content: "₦ ";
    }
  }
}

.two_products {
  display: flex;
}

.image_two {
  margin-left: 21px;
}
