@import "styles/variables.scss";
.registercomponent {
  h5 {
    font-weight: 400;
    line-height: 4.125rem;
    margin-bottom: 0.9375rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $darker-charcoal;
    text-align: center;
  }

  //options for facebook or google
  section.options {
    display: flex;
    gap: 1.25rem;
    & > div {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem 2.3125rem;
      background: #f9f9f9;
      border: 1px solid #ebebeb;
      box-sizing: border-box;
      border-radius: 1px;
      cursor: pointer;
      h6 {
        color: $darker-charcoal;
        font-weight: 400;
        letter-spacing: 0.05em;
        line-height: 1.25rem;
      }
    }
    //options for facebook or google
  }
  & > h6.top_one {
    margin-top: 1.875rem;
    margin-bottom: 1rem;
    padding-bottom: 2.625rem;
    max-width: 23.75rem;
    color: #707070;
    line-height: 1.25rem;
    border-bottom: 1px solid $dark-charcoal;
  }

  h5.alternative {
    margin-bottom: 1.25rem;
  }

  form {
    .input_wrapper {
        margin-bottom: 1.875rem;
      label {
        margin-bottom: 0.9375rem;
      }
      input {
      }
    }
  }
  & > h6.bottom_one {
    max-width: 23.75rem;
    color: #707070;
    line-height: 1.25rem;
    margin-bottom: 2.5rem;

    span{
      color: $dark-green;
    }
  }

  button{
    width: 100%;
  }
  
}
