@import "styles/variables.scss";

.pp_btn {
    display: flex;
    // width: 446px;
    height: 55px;
    background-color: $dark-green;
    color: $white;
    justify-content: center;
    align-items: center;
    // margin-top: 61px;
    cursor: pointer;

    svg{
      margin-right: 10px;
    }
  }

  .pp_btn:hover{
    background-color: $white;
    border: 1px solid $dark-green;
    color: $dark-green !important;
    transition: 1000ms;

    path{
      fill: $dark-green !important;
    }
  }