@import 'styles/variables.scss';
.loginpage {
  background: #efefef;
  overflow: auto;
  min-height: calc(100vh - 90px);
  width: 100vw;
  height: 100vh;
  display: flex;
  padding-top: 4.6025rem /* 73.64px -> 4.6025rem */;
  padding-bottom: 17.625rem /* 282px -> 17.625rem */;
  justify-content: center;
  @media (max-width: $sm-breakpoint) {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
  }

  form {
    section {
      position: relative;
    }
    & > div {
      input {
        background: #f9f9f9;
        box-sizing: border-box;
        border-radius: .0625rem /* 1px -> .0625rem */;
        width: 100%;
        &::placeholder {
          color: #999999;
        }
        

        &[data-type="password"] {
          & ~ i {
            transition: $fast-transition;
            cursor: pointer;
            position: absolute;
            top: calc(50% - .5625rem /* 9px -> .5625rem */);
            right: 1.25rem;
          }
        }
      }
    }
  }
}
