@import "styles/variables";


.review{
    background: #EFF6EE;
    padding: 6.8125rem 7.3125rem 7.75rem;
    margin-top: 6.84rem;

    @media (max-width: $sm-breakpoint) {
        margin-top: 5.375rem /* 86px -> 5.375rem */;
        padding: 4.6875rem /* 75px -> 4.6875rem */ 1.25rem /* 20px -> 1.25rem */ 8.125rem /* 130px -> 8.125rem */;
    }
    h2{
        font-size: 2.75rem /* 44px -> 2.75rem */;
        line-height: 2.75rem /* 44px -> 2.75rem */;
        color: #333333;
        margin-bottom: 4.375rem /* 70px -> 4.375rem */;
        width: fit-content;
        margin: auto;
        text-align: center;
        margin-bottom: 3.1875rem;


        @include medium-breakpoint(){
            font-weight: 400;
            font-size: 1.75rem /* 28px -> 1.75rem */;
            line-height: 2.5rem /* 40px -> 2.5rem */;
            margin-bottom: 1.625rem /* 26px -> 1.625rem */;

        }
    }

    & > section > div{
        height: 21.8125rem /* 349px -> 21.8125rem */;
    }

    .cards__container{
        max-width:  72.5425rem /* 1160.68px -> 72.5425rem */;
        margin: auto;
        height: fit-content;
    }
}