@import 'styles/variables.scss';


.container{
    display: flex;
    cursor: pointer;
    transition: $fast-transition;
    flex-direction: column;
    width: 22.375rem;
    cursor: pointer;

    .container__image{
        width: 20.431875rem;
        height: 9.805625rem;
        position: relative;
    
        img{
            object-fit: cover;
        }

        @media (max-width: $md-breakpoint) {
            width: 283px;
            height: 170px;
        }

    }

    .container__content{
        transition: $fast-transition;
        position: relative;
        background: $ionic-opacity-variant;
        padding: 24px 22px 33px;
        width: inherit;
        width: 328.37px;


        @media (max-width: $md-breakpoint) {
            padding: 25px 20px;
            width: 283px;

        }


        .top__section{
            padding-bottom: 1.1875rem;
            margin-bottom: 1.25rem;
            justify-content: space-between;
            display: flex;
            span{
                font-size: 0.75rem;
                text-transform: uppercase;
            }
            span:first-of-type{
                color: #333333;
            }
            span:last-of-type{
                color: #999999;
            }
        }

        .text__section{

            h4{
                font-family: "Cosmica-SemiBold";
                font-weight: 500;
                font-size: 14.5943px;
                line-height: 23px;
                display: flex;
                align-items: center;
                color: #333333;
                @media (max-width: $md-breakpoint) {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
            h6{
                margin-top: 14px;
                margin-bottom: 21px;
                color: #707070;
                max-width: 17.239375rem;
                height: 60px;
                overflow: hidden;
                font-weight: 400;
                font-size: 11.6755px;
                line-height: 19px;

                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            
                                
                @media (max-width: $md-breakpoint) {
                    font-size: 12px;
                    line-height: 21px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    height: 65px;
                    margin-top: 15px;
                    margin-bottom: 21px;

                }
            }
        }

        .aux__section{
            align-items: center;
            display: flex;
            cursor: pointer;
            span{
                transition: $fast-transition;
                color: $dark-green;
                margin-right: 0.625rem;
                font-size: 10px;
                line-height: 1.375rem;
                font-family: "Cosmica-SemiBold";
            }
        }
    } 

    @media (max-width: $md-breakpoint) {
        flex-direction: column;
        width: 22.375rem;
        cursor: pointer;

        .container__image{
            height: 215px;
        }

        .container__content{
            // height: 9.875rem;
            .text__section{
                h6{
                    // display: none;
                }
            }

            .aux__section{
                // display: none;
            }
        }
    }

    &:hover{
        .container__content{
            background-color: #F3EFE2;

            .aux__section{
                span{
                    color: $relish;
                    margin-right: 1rem;
                }
                path{
                    fill: $relish;
                }
            }
        }
    }

    &:active{
        .container__content{
            background-color: $ionic-opacity-variant;


            .aux__section{
                span{
                    color: $dark-green;
                    margin-right: 1.0rem;
                }
                path{
                    fill: $dark-green;
                }
            }
        }
    }

}



