@import "styles/variables.scss";

.footer{
    padding: 6.5625rem 7.125rem 3.4375rem;
    background-color: $dark-green;
    
    p{
        color: white;
        margin-bottom: 0.5rem;
        line-height: 1.75rem;
        cursor: pointer;
        transition: $fast-transition;

        &:hover{
            color: #8FB685;
        }

        &:active{
            color: white;
        }
        
        &:last-of-type{
            margin-bottom: 0;
        }
    }

    .footer__top{
        display: flex;
        justify-content: space-between;
    }

    .first__section{
        &__content{
            margin-top: 1.375rem;
        }
    }
    
    .second__section{
        display: flex;
        gap: 7.625rem;
        h4{
            color: #E5E1C6;
            margin-top: 5px;
            margin-bottom: 1.75rem;
        }
    }

    .third__section{
        color: #E5E1C6;
        max-width: 24.9375rem;
    
        h3{
            margin-bottom: 2.375rem;
            line-height: 2.3125rem;
        }
    
        .input__wrapper{
            position: relative;
            input{
                border: 0;
                background-color: transparent;
                border-bottom: 1px solid #999999;
                width: 100%;
                padding: 0;
                padding-bottom: 1.0625rem;
                padding-right: 6.25rem;
                caret-color: #fff;
                color: #fff;
                &::placeholder{
                    caret-color: #999999;
                    color: #999999;
                }
            }
    
            p{
                position: absolute;
                top: 0;
                right: 0;
                transition: $fast-transition;
                display: flex;
                align-items: center;
                
                &::after{
                    transition: $fast-transition;
                    position: relative;
                    top: 1px;
                    opacity: 0;
                    content: url('../../public/icons/rightarrowrelish.svg');
                }
            }
            
            &:hover{
                p{ 
                    color: $relish; 
                    &::after{
                        margin-left: 1.5625rem;
                        opacity: 1;
                        content: url('../../public/icons/rightarrowrelish.svg');
                    }
                }
            }

            input:focus ~ p{
                color: white;               
                &::after{
                    margin-left: 0.9375rem;
                    content: url('../../public/icons/rightarrowwhite.svg');
                }
            }
        }
    
    }

    .footer__bottom{
        border-top: 1px solid #E5E1C6;
        margin-top: 6.25rem;
        padding-top: 3.1875rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .medialogo{
        display: flex;
        gap: 1.625rem;
    }

    .footer__logo{
        display: flex;
        align-items: center;
        color: white;

        h6{
            margin-left: 1.4375rem;
            font-family: 'Helvetica Neue';
        }
    }
}


