@import "styles/variables.scss";

.footer{
    background: #014C37;
    padding-top: 7.9375rem /* 127px -> 7.9375rem */;
    padding-bottom: 7.5rem /* 120px -> 7.5rem */;
    padding-left: 12.1875rem /* 195px -> 12.1875rem */;
    padding-right: 12.5313rem /* 200.5px -> 12.5313rem */;


    @include small-breakpoint{
        padding-top: 5.25rem /* 84px -> 5.25rem */;
        padding-left: 2.0625rem /* 33px -> 2.0625rem */;
        padding-right: 2.0625rem /* 33px -> 2.0625rem */;
        padding-bottom: 4.6875rem /* 75px -> 4.6875rem */;
    }
    & > div{
        display: flex;
        gap: 10.25rem /* 164px -> 10.25rem */;
        justify-content: space-between;
        @include small-breakpoint{
            flex-direction: column;
            align-items: center;
            gap: 5.125rem /* 82px -> 5.125rem */;
            align-items: flex-start;
        }

        .left{
            width: fit-content;
            h2{
                max-width: 21.7519rem /* 348.03px -> 21.7519rem */;
                margin-bottom: 2rem /* 32px -> 2rem */;
                font-weight: 500;
                font-size: 1.2768rem /* 20.4293px -> 1.2768rem */;
                line-height: 1.8125rem /* 29px -> 1.8125rem */;
                color: #E5E1C6;
                @include small-breakpoint{
                    font-weight: 400;
                    font-size: 1.125rem /* 18px -> 1.125rem */;
                    line-height: 131.5%;
                    max-width: 18rem /* 288px -> 18rem */;
                    margin-bottom: 2.5rem /* 40px -> 2.5rem */;
                }
            }

            .input__group{
                position: relative;
                width: fit-content;
                margin-bottom: 3.875rem /* 62px -> 3.875rem */;
                @include small-breakpoint{
                    margin-bottom: 0;
                }
                input{
                    border: 0;
                    padding: 0;
                    margin: 0;
                    padding-bottom: 8px;
                    outline: none;
                    background-color: transparent;
                    border-bottom: 1px solid #999999;
                    width: 21.3412rem /* 341.46px -> 21.3412rem */;
                    font-weight: 400;
                    font-size: .75rem /* 12px -> .75rem */;
                    line-height: 1.25rem /* 20px -> 1.25rem */;
                    caret-color: #E5E1C6;
                    color: white;
                    &::placeholder{
                        color: #999999;
                    }
                    @include small-breakpoint{
                        width: 18.6875rem /* 299px -> 18.6875rem */;
                    }
                }
                span{
                    position: absolute;
                    bottom: .625rem /* 10px -> .625rem */;
                    right: 0;
                    color: white;
                    font-family: "Cosmica-SemiBold";
                    font-size: .75rem /* 12px -> .75rem */;
                    line-height: 1.375rem /* 22px -> 1.375rem */;
                    cursor: pointer;
                    @include small-breakpoint{
                        line-height: 1.875rem /* 30px -> 1.875rem */;
                        bottom: .5rem /* 8px -> .5rem */;
                    }
                }
            }
    
            .social__media{
                display: flex;
                gap: .75rem /* 12px -> .75rem */;
                align-items: center;
                cursor: pointer;
                margin-bottom: 1.0637rem /* 17.02px -> 1.0637rem */;
                @include small-breakpoint{
                    display: none;
                }
            }
    
            .meta__data{
                font-weight: 400;
                font-size: .6384rem /* 10.2147px -> .6384rem */;
                line-height: 1.25rem /* 20px -> 1.25rem */;
                color: #D2D2D2;
                @include small-breakpoint{
                    display: none;
                }
            }
        }

        .right{
            display: flex;
            gap: 6.875rem /* 110px -> 6.875rem */;

            @include small-breakpoint{
                flex-wrap: wrap;
                row-gap: 4.6875rem /* 75px -> 4.6875rem */;
                column-gap: 3.625rem /* 58px -> 3.625rem */;
            }

            & > div{
                h4{
                    font-weight: 500;
                    font-size: 1.0032rem /* 16.0516px -> 1.0032rem */;
                    line-height: 1rem /* 16px -> 1rem */;
                    color: #E5E1C6;
                    text-transform: capitalize;
                    margin-bottom: 1.6875rem /* 27px -> 1.6875rem */;
                }

                section{
                    display: flex;
                    flex-direction: column;
                    gap: .875rem /* 14px -> .875rem */;
                    @include small-breakpoint{
                        gap: .625rem /* 10px -> .625rem */;
                    }
                    p{
                        font-weight: 500;
                        font-size: .7296rem /* 11.6739px -> .7296rem */;
                        line-height: 1.25rem /* 20px -> 1.25rem */;
                        color: #FFFFFF;
                        cursor: pointer;

                        @include small-breakpoint{
                            font-size: .875rem /* 14px -> .875rem */;
                            line-height: 1.75rem /* 28px -> 1.75rem */;
                            color: #D2D2D2;
                        }
                    }
                }
            }
        }

    }

    .mobile__meta{
        display: none;
        @include small-breakpoint{
            display: flex;
            flex-direction: column;
            gap: 1.5625rem /* 25px -> 1.5625rem */;
            margin-top: -1.5625rem /* -25px -> -1.5625rem */;
        }

        div{
            display: flex;
            align-items: center;
            gap: 1.0831rem /* 17.33px -> 1.0831rem */;
        }

        span{
            font-weight: 400;
            font-size: .8125rem /* 13px -> .8125rem */;
            line-height: 1.75rem /* 28px -> 1.75rem */;
            color: #D2D2D2;
        }
    }
}


