@import "styles/variables.scss";

.container{
    display: flex;
    justify-self: center;
    width:fit-content;
    margin: 12.5rem auto;
    align-items: flex-end;

    @media (max-width: $lg-breakpoint) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 120px auto 94px;
    }

    &__image{
        width:421px;
        height:634px;
        position: relative;
        margin-right: 9.3125rem;
        background-image: url('../../../../public/images/partner.png');
        @media (max-width: $lg-breakpoint) {
            margin: 0;
            margin-bottom: 64px;
        }
        @media (max-width: $md-breakpoint) {
            width: 327px;
            height: 211px;
            margin: 0;
            background-image: url('../../../../public/images/partnersmall.png');
            background-repeat: no-repeat;
            margin-bottom: 64px;
        }
        @media (max-width: $sm-breakpoint) {
            margin-left: 24px;
            margin-right: 24px;
        }
    }

    &__text{
        p{
            color: $dark-green;
            margin-bottom: 0.5rem;
        }
        h2{
            max-width: 33.3125rem;
            color: $darker-charcoal;
            margin-bottom: 1.25rem;
            line-height: 3.625rem;
        }
        h5{
            color: #676767;
        }
        h2.benefits__placeholder{
            color: #EDC9AF;
            margin: 4.5rem 0 7.4375rem;
        }
        @media (max-width: $lg-breakpoint) {
            text-align: center;

        }
        @media (max-width: $md-breakpoint) {
            text-align: center;
            p{
                margin-bottom: 16px;
            }
            h2:first-of-type{
                font-size: 28px;
                line-height: 36px;
            }
        }
        @media (max-width: $sm-breakpoint) {
            h2:first-of-type{
                max-width: 302px;
                margin: auto;
                margin-bottom: 20px;
            }
            h5{
                max-width: 242px;
                margin: auto;
            }
            h2.benefits__placeholder{
                margin: 81px auto 148px;
                max-width: 224px;
            }
        }
    }

    .benefits__cta{
        display: flex;
        align-items: center;
        cursor: pointer;
        width: fit-content;
        span{
            transition: $fast-transition;
            margin-right: 0.9375rem;
            font-weight: 500;
            color: $dark-green;
            
        }
        &:hover{
            span{
                color: $relish;
                margin-right: 1.5625rem;
            }
            path{
                fill: $relish;
            }
        }
        &:active{
            span{
                color: $dark-green;
            }
            path{
                fill: $dark-green;
            }
        }
    }
    button{
        @media (max-width: $lg-breakpoint) {
            margin: auto;
        }
    }
}