@import "styles/variables.scss";

.header{
    width: 100%;
    background-color: $ionic-opacity-variant;
    // padding: 1.6875rem 9.375rem;
    padding: 20px 109px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $sm-breakpoint) {
        padding-left: 20px;
        padding-right: 20px;
    }

    p{
        color: $darker-charcoal;
        font-weight: 500;
        transition: $fast-transition;
        position: relative;
        font-size: 12px;
    }
}

.header__logo__big{
    margin: 0 auto;
    width: fit-content;
    width: 127.7px;
    height: 22px;
    @media (max-width: $sm-breakpoint) {
        display: none;
    }
}


.header__logo__small{
    margin: 0 auto;
    width: 122px;
    height: 22px;
    display: none;

    @media (max-width: $sm-breakpoint) {
        display: inherit;
    }
}

.arrow-icon{
    margin-left: 4px;
    position: relative;
    top: 0px;
    content: url('../../../public/icons/downarrow.svg');
}

.right__section{
    display: flex;
    align-items: center;
    & > p{
        margin-left: 1.75rem;
        white-space: nowrap;
        cursor: pointer;
    }
    & > span{
        margin-left: 1.75rem;
        white-space: nowrap;
        cursor: pointer;
    }

    @media (max-width: $lg-breakpoint){
        #like__menu,
        #account__menu
        {
            display: none
        }
    }

}

.left__section{
    display: flex;
    gap: 2.8275rem;
    @media (max-width: $md-breakpoint) {
        gap: 18px;
    }

    .left__items__section{
        order: 1;
        @media (max-width: $md-breakpoint) {
            order: -1;
        }
        display: flex;
        align-items: center;
        & > p{
            white-space: nowrap;
            span{
                cursor: pointer;
            }
            margin-right: 1.61125rem;
    
            &::after {
                @extend .arrow-icon;
            }
    
            @media (max-width: $lg-breakpoint){
                display: none;
            }
        }
        & > div{
            margin-right: 40px;
            cursor: pointer;
            @media (max-width: $md-breakpoint){
                margin-right: 0px;
            }
            @media (min-width: $lg-breakpoint){
                display: none;
            }
        }
    }
}

.middle__items__section{

}


// p.item__active{
//     color: $relish;
//     &::after {
//         content: url('../../../public/icons/downarrowactive.svg') !important;
//     }
// }