@import 'styles/variables.scss';

.nav_dropdown{
    position: absolute;
    top: 2.5rem;
    background-color: white;
    z-index: 2;
    border: .0625rem /* 1px -> .0625rem */ solid $dropdown-outline;
    display: flex;
    border-radius: .0625rem /* 1px -> .0625rem */;

    .image__section{
        width: 9.75rem;
        background: #EFEFEF;
        display: flex;
        justify-content: center;
        align-items: center;

        .image__wrapper{
            width: 6.375rem /* 102px -> 6.375rem */;
            height: 7.0625rem /* 113px -> 7.0625rem */;
            position: relative;
        }

    }

    .section{
        padding-top: 0.75rem;
        padding-bottom: 1.5rem;
        p{
            line-height: 2.25rem /* 36px -> 2.25rem */;
            font-weight: normal;
            margin-bottom: 0.5rem;
            color: #333333;
            text-transform: uppercase;
        }
        .section__divider{
            height: .0437rem /* 0.7px -> .0437rem */;
            background: #999999;
            opacity: 0.3;
        }
        h6{
            margin-top: 1.0625rem;
            white-space: nowrap;
            cursor: pointer;
            color: $dark-green;
            transition: $fast-transition;
            width: fit-content;
            border-bottom: .0625rem /* 1px -> .0625rem */ solid white;
            text-transform: capitalize;

            &.__active{
                color: $relish;
                // border-color: $relish;
            }

            &:hover{
                color: $relish;
            }
        }
    }


    .first__section{
        padding-left: 3.125rem ;
        padding-right: 3.125rem ;
        .section__divider{
            min-width: 6.0625rem;
        }
        h6{


            &.__active{
                border-color: $relish;
            }
        }

    }

    .second__section{
        padding-left: 0.6875rem ;
        padding-right: 6.375rem ;
        .section__divider{
            min-width: 10.9375rem;
        }
        h6{
            color: #999999;
        }
    }
}