@import "styles/variables.scss";

.authcomponent{
    background: #FFFFFF;
    border-radius: 1px;
    width: fit-content;
    .heading{
        display: flex;
        border-bottom: 1px solid #EFEFEF;
        & > div {
            width: 344px;
            height: 78px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #999999;
            letter-spacing: 0.05em;
            font-size: 1.25rem;
            cursor: pointer;
            transition: $fast-transition;
            border-bottom: 4px solid transparent;
            font-weight: 400;

            &[data-active="active"]{
                background: #F9F9F9;
                color: $dark-green;
                border-bottom-color: $dark-green;
            }
        }
    }

    .content{
        margin: 1.5625rem auto 4.6875rem;
        width: fit-content;
    }
}