@font-face {
  font-family: "mabry-pro";
  src: url("/fonts/Mabry/MabryPro-Regular.ttf")
}

@font-face {
  font-family: 'Cosmica-Light';
  src: url('/fonts/Cosmica/Cosmica Light.otf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Cosmica-Regular';
  src: url('/fonts/Cosmica/Cosmica Regular.otf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Cosmica-Medium';
  src: url('/fonts/Cosmica/Cosmica Medium.otf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Cosmica-SemiBold';
  src: url('/fonts/Cosmica/Cosmica SemiBold.otf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Cosmica-Bold';
  src: url('/fonts/Cosmica/Cosmica Bold.otf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
