@import 'styles/variables';
@import 'styles/font';
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

// defining the root font size
html{
  font-size: 16px;
  font-family: 'Cosmica-Regular';
  scroll-behavior: smooth;

  // on phones
  @media (max-width: $md-breakpoint) {
    // font-size: 13px;
  }
}
// defining the root font size

html,
body {
  padding: 0;
  margin: 0;

  @media (min-width: $sm-breakpoint) and (max-width: $xxl-breakpoint) {
    font-size: 1.1429vw /* 16px -> 1.1429vw */;
  }

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.--smallhide{
  display: inherit;
  @media (max-width: $sm-breakpoint) {
    display: none;
  }
}

.--smallshow{
  display: none;
  @media (max-width: $sm-breakpoint) {
    display: inherit;
  }
}

svg, path{
  transition: $fast-transition;
}

// ------- Define the different sizes of the texts
@mixin defaultstyles {
  margin: 0;
  padding: 0;
  font-weight: 400;
}


// ---------- Defining the styles for the input
input{
  outline: none;
  border: none;
  font-size: 1rem;
  background: #FFFFFF;
  border-radius: 1px;
  width: 17.3175rem /* 277.08px -> 17.3175rem */;
  height: 2.7344rem /* 43.75px -> 2.7344rem */;
  box-sizing: border-box;
  padding: .9375rem /* 15px -> .9375rem */;
  font-size: .7292rem /* 11.6667px -> .7292rem */;
  line-height: 1.125rem /* 18px -> 1.125rem */;
  font-family: 'Helvetica Neue';
  border: .0456rem /* 0.729167px -> .0456rem */ solid #999999;
  border-radius: .0456rem /* 0.729167px -> .0456rem */;

  &:focus{
    outline: none;
  }

  &::placeholder {
    color: #999999;
  }

  @include small-breakpoint{
    width: 20.9375rem /* 335px -> 20.9375rem */;
    height: 3.4375rem /* 55px -> 3.4375rem */;
    font-size: 1rem /* 16px -> 1rem */;
  }
}


button{
  font-size: 1rem;
  padding: 1.10rem 1.25rem;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $fast-transition;
  font-family: 'Cosmica-Regular';


  &.--hollow{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    font-weight: 500;
    color: $dark-green;
    background-color: transparent;
    padding: 0;
    
    &::after{
      transition: $fast-transition;
      margin-left: 0.9375rem;
      position: relative;
      top: 1px;
      content: url('/icons/navbar/rightarrowgreen.svg');
    }

    &:hover{
      color: $relish;

      &::after{
        margin-left: 1.5625rem;
        content: url('/icons/navbar/rightarrowrelish.svg');
      }
    }

    &:active{
      color: $dark-green;
      &::after{
        content: url('/icons/navbar/rightarrowgreen.svg');
      }
    }
  }

  &.--filled{
    background-color: $dark-green;
    color: white;

    &:hover{
      background-color: $relish;
    }

    &:active{
      background-color: $dark-green;
      color: white;
    }
  }

  &.--lined{
    border: 1px solid $dark-green;
    color: $dark-green;
    background-color: white;

    &:hover{
      background-color: #D8E8D4;
    }

    &:active{
      background-color: $dark-green;
      color: white;
      path{
        fill: white !important;
      }
    }
  }

  &:hover{
    outline: none;
    box-shadow: none;
  }
}


// override react slick
.reviews{
  .slick-dots{
    bottom: -3.125rem /* -50px -> -3.125rem */;
    @include medium-breakpoint{
      bottom: -2.5rem /* -40px -> -2.5rem */;
    }
    li {
      width: unset;
      height: unset;
      button{
        &::before{
          display: none;
        }
        width: .25rem /* 4px -> .25rem */;
        height: .25rem /* 4px -> .25rem */;
        background: #999999;
      }
    }
    .slick-active{
      button{
        background: #014C37;
        width: 1.5506rem /* 24.81px -> 1.5506rem */;
        height: .2737rem /* 4.38px -> .2737rem */;
        &:before{
          display: none;
        }
        @include medium-breakpoint{
          width: 1.125rem /* 18px -> 1.125rem */;
        }
      }
    }
  }
}