// defining the different colors to be used
$ionic-ivory: #f3efe2;
$ionic-opacity-variant: #f8f7f5;
$dark-green: #014c37;
$relish: #8fb685;
$dark-charcoal: #efefef;
$darker-charcoal: #333333;
$dropdown-outline: #e5e1c6;
$blue-green: #D9E3E1;

// define breakpoint variables
$xl-breakpoint: 1200px;
$lg-breakpoint: 1000px;
$md-breakpoint: 800px;
$sm-breakpoint: 650px;

// define speed variables
$fast-transition: 200ms;


// define mixins
@mixin small-breakpoint {
    @media (max-width: $sm-breakpoint ){
        @content;
    }
}
  
@mixin medium-breakpoint {
    @media (max-width: $md-breakpoint ){
      @content;
    }
}

@mixin large-breakpoint {
    @media (max-width: $lg-breakpoint ){
      @content;
    }
}

@mixin xlarge-breakpoint {
    @media (max-width: $xl-breakpoint ){
      @content;
    }
}