// defining the different colors to be used
$ionic-ivory: #f3efe2;
$ionic-opacity-variant: #f8f7f5;
$dark-green: #014c37;
$relish: #8fb685;
$light-relish:#EFF6EE;
$dark-charcoal: #efefef;
$darker-charcoal: #333333;
$dropdown-outline: #e5e1c6;
$gray: #999999;
$dark-gray: #707070;
$white: #FFFFFF;
$light-gray: #C4C4C4;
$grey: #676767;
$lighter-gray: #EBEBEB;
$light-grey: #F9F9F9;
$ivory: #F8F7F5;
$partial-relish: #D8E8D4;
$light-pink: #EDC9AF;

// define breakpoint variables
$xl-breakpoint: 1200px;
$lg-breakpoint: 1000px;
$md-breakpoint: 800px;
$sm-breakpoint: 650px;

// define speed variables
$fast-transition: 200ms;
