// defining the different colors to be used
$ionic-ivory: #F3EFE2;
$dark-green: #014C37;
$dark-charcoal: #EFEFEF;
$darker-charcoal: #333333;


// define breakpoint variables
$lg-breakpoint: 1200px;
$md-breakpoint: 800px;
$sm-breakpoint: 650px;